In [1]:
from src import modules as f
%load_ext autoreload
%autoreload 2

In [2]:
# !pip install -r requirements.txt

In [3]:
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import logging
import multiprocessing
from datetime import datetime, timedelta

In [4]:
spy = yf.Ticker('XLK')
spy_holdings_df = spy.get_funds_data().top_holdings
set(spy_holdings_df.index)

{'AAPL', 'ACN', 'AVGO', 'CRM', 'CSCO', 'IBM', 'MSFT', 'NOW', 'NVDA', 'ORCL'}

In [5]:
stock_set = f.etf_top_stocks(*['voo', 'vgt', 'vde', 'vpu', 'vdc', 'vfh', 'vht', 'vym', 'vox', 'vb', 'vo', 'vv', 'vug', 'vtv'])
stock_set

{'AAPL',
 'ABBV',
 'ABT',
 'ACN',
 'AEP',
 'AJG',
 'AMGN',
 'AMZN',
 'APH',
 'ATO',
 'AVGO',
 'AXP',
 'BAC',
 'BRK-B',
 'BSX',
 'CEG',
 'CL',
 'CMCSA',
 'COP',
 'COST',
 'CRM',
 'CSCO',
 'CVX',
 'D',
 'DASH',
 'DECK',
 'DIS',
 'DUK',
 'EOG',
 'EXC',
 'EXE',
 'FCNCA',
 'GOOG',
 'GOOGL',
 'GS',
 'HD',
 'IBM',
 'ISRG',
 'JNJ',
 'JPM',
 'KMI',
 'KO',
 'LLY',
 'LNG',
 'MA',
 'MDLZ',
 'META',
 'MO',
 'MPC',
 'MRK',
 'MS',
 'MSFT',
 'MSI',
 'NEE',
 'NFLX',
 'NOW',
 'NRG',
 'NTRA',
 'NVDA',
 'OKE',
 'ORCL',
 'PCAR',
 'PEG',
 'PEP',
 'PG',
 'PLTR',
 'PM',
 'PSTG',
 'PTC',
 'RCL',
 'SLB',
 'SO',
 'SPGI',
 'SRE',
 'SW',
 'T',
 'TDG',
 'TGT',
 'TMO',
 'TMUS',
 'TSLA',
 'TTD',
 'UNH',
 'V',
 'VST',
 'VZ',
 'WELL',
 'WFC',
 'WMB',
 'WMT',
 'WSM',
 'XOM'}

In [53]:
stock_list = f.download_interval_process('1d', 1)

In [54]:
stock_list

{'AAPL',
 'ABBV',
 'ABT',
 'ACN',
 'AEP',
 'AJG',
 'AMGN',
 'AMZN',
 'APH',
 'ATO',
 'AVGO',
 'AXP',
 'BAC',
 'BRK-B',
 'BSX',
 'CEG',
 'CL',
 'CMCSA',
 'COP',
 'COST',
 'CRM',
 'CSCO',
 'CVX',
 'D',
 'DASH',
 'DECK',
 'DIS',
 'DUK',
 'EOG',
 'EXC',
 'EXE',
 'FCNCA',
 'GOOG',
 'GOOGL',
 'GS',
 'HD',
 'IBM',
 'ISRG',
 'JNJ',
 'JPM',
 'KMI',
 'KO',
 'LLY',
 'LNG',
 'MA',
 'MDLZ',
 'META',
 'MO',
 'MPC',
 'MRK',
 'MS',
 'MSFT',
 'MSI',
 'NEE',
 'NFLX',
 'NOW',
 'NRG',
 'NTRA',
 'NVDA',
 'OKE',
 'ORCL',
 'PCAR',
 'PEG',
 'PEP',
 'PG',
 'PLTR',
 'PM',
 'PSTG',
 'PTC',
 'RCL',
 'SLB',
 'SO',
 'SPGI',
 'SRE',
 'SW',
 'T',
 'TDG',
 'TGT',
 'TMO',
 'TMUS',
 'TSLA',
 'TTD',
 'UNH',
 'V',
 'VST',
 'VZ',
 'WELL',
 'WFC',
 'WMB',
 'WMT',
 'WSM',
 'XOM',
 '^VIX'}

In [63]:
stock_list = f.make_table_features_process('1d', 8)

In [64]:
xom_1d_df =  f.load_model_df('XOM', '1d')
xom_1d_df.columns

Index(['open', 'high', 'low', 'close', 'adj_close', 'volume',
       'slow_sma_signal', 'fast_sma_signal', 'stdev20', 'stdev10', 'stdev5',
       'vix_stdev20', 'vix_stdev10', 'vix_stdev5', 'vol_stdev20',
       'vol_stdev10', 'vol_stdev5', 'top_stdev20', 'top_stdev10', 'top_stdev5',
       'body_stdev20', 'body_stdev10', 'body_stdev5', 'bottom_stdev20',
       'bottom_stdev10', 'bottom_stdev5', 'pct_gap_up_down_stdev20',
       'pct_gap_up_down_stdev10', 'pct_gap_up_down_stdev5', 'month_of_year',
       'day_of_month', 'day_of_week', 'hour_of_day', 'direction'],
      dtype='object')

In [70]:
xom_1d_df.tail(5)

,open,high,low,close,adj_close,volume,slow_sma_signal,fast_sma_signal,stdev20,stdev10,...,bottom_stdev10,bottom_stdev5,pct_gap_up_down_stdev20,pct_gap_up_down_stdev10,pct_gap_up_down_stdev5,month_of_year,day_of_month,day_of_week,hour_of_day,direction
Date,,,,,,,,,,,,,,,,,,,,,
2025-02-21 05:00:00+00:00,111.320000,111.849998,110.559998,110.690002,110.690002,14710000,1,1,1.605401,1.523659,...,0.139325,0.070745,0.433770,0.472286,0.210574,2,21,4,0,1
2025-02-24 05:00:00+00:00,110.930000,111.860001,110.320000,111.269997,111.269997,13153500,1,1,1.689750,1.495582,...,0.148167,0.127404,0.433217,0.473224,0.208080,2,24,0,0,2
2025-02-25 05:00:00+00:00,111.300003,112.129997,108.889999,109.730003,109.730003,14497000,1,1,1.699991,1.495728,...,0.145725,0.120882,0.434381,0.405087,0.202833,2,25,1,0,0
2025-02-26 05:00:00+00:00,109.739998,109.870003,108.519997,109.459999,109.459999,10446400,1,1,1.651528,1.470318,...,0.198946,0.224586,0.435646,0.360482,0.178181,2,26,2,0,1
2025-02-27 05:00:00+00:00,110.010002,111.290001,109.279999,110.449997,110.449997,8573601,1,1,1.654171,1.217616,...,0.191073,0.218920,0.434907,0.189324,0.251772,2,27,3,0,NaN

In [69]:
xom_1d_df.isnull().isnull().sum()

open                       0
high                       0
low                        0
close                      0
adj_close                  0
volume                     0
slow_sma_signal            0
fast_sma_signal            0
stdev20                    0
stdev10                    0
stdev5                     0
vix_stdev20                0
vix_stdev10                0
vix_stdev5                 0
vol_stdev20                0
vol_stdev10                0
vol_stdev5                 0
top_stdev20                0
top_stdev10                0
top_stdev5                 0
body_stdev20               0
body_stdev10               0
body_stdev5                0
bottom_stdev20             0
bottom_stdev10             0
bottom_stdev5              0
pct_gap_up_down_stdev20    0
pct_gap_up_down_stdev10    0
pct_gap_up_down_stdev5     0
month_of_year              0
day_of_month               0
day_of_week                0
hour_of_day                0
direction                  0
dtype: int64

In [60]:
xom_1d_df = f.load_raw('XOM', '1d')
xom_1d_df.columns

Index(['open', 'high', 'low', 'close', 'adj_close', 'volume'], dtype='object')

In [62]:
xom_1d_df.sample(5)

,open,high,low,close,adj_close,volume
Date,,,,,,
2001-04-03 00:00:00-04:00,39.650002,39.724998,38.500000,38.950001,18.111185,14200800
2000-07-18 00:00:00-04:00,39.031250,39.468750,38.750000,39.093750,17.897789,12308800
1986-09-11 00:00:00-04:00,8.718750,8.734375,8.250000,8.296875,2.175105,15360000
1976-04-06 00:00:00-05:00,2.968750,2.984375,2.921875,2.933594,0.338268,3683200
1995-07-05 00:00:00-04:00,17.781250,17.781250,17.656250,17.687500,7.021769,4565200

In [61]:
stock_obj = yf.Ticker("^VIX")
vix_df = stock_obj.history(interval='1d',
                           period='max',
                           auto_adjust=False,
                           prepost=True,
                          )

vix_df.tail(5)

,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
Date,,,,,,,,
2025-02-21 00:00:00-06:00,15.630000,19.030001,15.280000,18.209999,18.209999,0,0.0,0.0
2025-02-24 00:00:00-06:00,18.080000,20.240000,17.309999,18.980000,18.980000,0,0.0,0.0
2025-02-25 00:00:00-06:00,19.090000,21.480000,18.850000,19.430000,19.430000,0,0.0,0.0
2025-02-26 00:00:00-06:00,18.959999,20.059999,17.830000,19.100000,19.100000,0,0.0,0.0
2025-02-27 00:00:00-06:00,18.250000,21.469999,17.670000,21.160000,21.160000,0,0.0,0.0